{% extends 'back/layout.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block content %}
    <h1 class="text-center text-primary">Modification du Produit</h1>

    {{ include('back/produit/_form.html.twig', {'button_label': 'Modifier', 'button_type':'warning'}) }}

    {{ include('back/produit/_delete_form.html.twig') }}
{% endblock %}
